*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #4A2545;
    color: #E7E5E5;
}

.calculator-body{
    height: 500px;
    width: 400px;
    background-color: white;
    margin-left: 35%;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
}

.response {
    width: 600px;
    height: 100px;
    background-color:#824C71;
    text-align: right;
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
}

.digits {
    height: 400px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}
.operators {
    height: 400px;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
}

.button {
    height: 100px;
    width: 100px;
    background-color: #000001;
    color: #E7E5E5;
    font-size: 30px;
}

#CLEAR {
    background-color: orangered;
    font-size: 20px;
}

.connectors{
    height: 80px;
    width: 100px;
    background-color: #90aa86;
    color: #E7E5E5;
    font-size: 30px;
}

.special-connector { 
    height: 80px;
    width: 100px;
    background-color: #90aa86;
    color: #E7E5E5;
    font-size: 30px;
}